<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<main>

<nav>
    <a href="/">Home page</a>
    <a href="/about">About page</a>
    <a href="/projects">Projects page</a>
</nav>

<h1>{{title}}</h1>