body {
    margin: 0;
    padding: 0;
    font-family: Verdana,sans-serif;
}

main {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #eee;
    padding: 4px;
}

nav {
    text-align: center;
}

nav a {
    background-color: navy;
    display: inline-block;
    list-style: none;
    padding: 10px;
    text-decoration: none;
    color: white;
    transition: all .3s ease;
    border-radius: 4px;
}

nav a:hover {
    background-color: blue;
    color: #eeeeee;
    transition: all .3s ease;
}